{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
 <!-- Large modal -->
<div class="modal fade bs-example-modal-lg-add" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
       <div class="modal-header">
      		 <a id="close-btn" href="{% url 'student_list' %}" ><button type="button" class="close" >&times;</button></a>
             <h4 class="modal-title" style="font-weight:bold;text-align:center;font-size:30px" >{{ student.username|upper }}</h4>
       </div>
    <div class="modal-body">
		<div class="form-group row">
          	 <legend class="col-form-legend col-sm-2 col-sm-offset-3">Username</legend>
       		<div class="col-sm-4">
       		 {% if student.username %}
       	       {{ student.username }} 
       	       {% endif %}
     	    </div>
    	</div>

	    <div class="form-group row">
    	       <legend class="col-form-legend col-sm-2 col-sm-offset-3">Email</legend>
       		<div class="col-sm-4">
       		 {% if student.email %}
       		    {{ student.email }}
       		 {% endif %}
       		    
       		</div>
    	</div>
	
	    <div class="form-group row">
        	   <legend class="col-form-legend col-sm-2 col-sm-offset-3">First Name</legend>
       		<div class="col-sm-4">
       		   {% if student.first_name %}
				{{ student.first_name }}
			   {% endif %}
       		</div>
    	</div>
		
	    <div class="form-group row">
          		 <legend class="col-form-legend col-sm-2 col-sm-offset-3">Last Name</legend>
       		<div class="col-sm-4">
       		   {% if student.last_name %}
				{{ student.last_name }}
       	       {% endif %}

			</div>
    	</div>
    
    	<div class="form-check row">
       		    <legend class="col-form-legend col-sm-2 col-sm-offset-3">Gender</legend>
        	<div class="col-sm-4">
        	    {% if student.gender %}
        	     {{ student.gender }}
       	       {% endif %}
            </div>
    	</div>

	  	<div class="form-group row">
      			<legend class="col-form-legend col-sm-2 col-sm-offset-3">Class</legend>
    		<div class="col-sm-4">
    		     {% if student.class_name %}
        			{{ student.class_name }}
        			{% endif %}
  			</div>
  		</div>
  
					<br>
		<div class="form-group row">
        	   <legend class="col-form-legend col-sm-2 col-sm-offset-3">Father's Name</legend>
           <div class="col-sm-4">
              {% if student.father_name %}
        		{{ student.father_name }}
       	       {% endif %}

			</div>
    	</div>
    	
    			<div class="form-group row">
        	   <legend class="col-form-legend col-sm-2 col-sm-offset-3">Father's Occupation</legend>
           <div class="col-sm-4">
              {% if student.father_occupation %}
        		{{ student.father_occupation }}
       	       {% endif %}

			</div>
    	</div>
    	
    			<div class="form-group row">
        	   <legend class="col-form-legend col-sm-2 col-sm-offset-3">Mother's Name</legend>
           <div class="col-sm-4">
              {% if student.mother_name %}
        		{{ student.mother_name }}
       	       {% endif %}

			</div>
    	</div>
    	
    			<div class="form-group row">
        	   <legend class="col-form-legend col-sm-2 col-sm-offset-3">Mother's Occupation</legend>
           <div class="col-sm-4">
              {% if student.mother_occupation %}
        		{{ student.mother_occupation }}
       	       {% endif %}

			</div>
    	</div>
    

  	  	<div class="form-group row ">
        		   <legend class="col-form-legend col-sm-2 col-sm-offset-3">Date of Birth</legend>
  			<div class="col-sm-4">
  			    {% if student.date_of_birth %}
                   {{ student.date_of_birth  }}
                  {% endif %}
   			</div>
  		 </div>
 		
 		 <div class="form-group row ">
        	   <legend class="col-form-legend col-sm-2 col-sm-offset-3">Date of Joining</legend>
  			<div class="col-sm-4">
  			      {% if student.date_of_joining %}
  			       		 {{ student.date_of_joining  }}
  			       {% endif %}
   			</div>
  		 </div>
  		 
  		  <div class="form-group row">
        	   <legend class="col-form-legend col-sm-2 col-sm-offset-3">Subjects Opted</legend>
           <div class="col-sm-4">
              {% if student.subjects_opted %}
        		{{ student.subjects_opted }}
       	       {% endif %}

			</div>
    	</div>
	  
  
  
		 <div class="form-group row">
         		  <legend class="col-form-legend col-sm-2 col-sm-offset-3">Mobile</legend>
       		<div class="col-sm-4">
       		       {% if student.mobile %}
       		       		 {{ student.mobile  }}
       		      {% endif %}
      		 </div>
    	 </div>
	
	     <div class="form-group row">
         		  <legend class="col-form-legend col-sm-2 col-sm-offset-3">Address</legend>
       		  <div class="col-sm-4">
       		     {% if student.address %}
       		        {{ student.address  }}
            	{% endif %}
    		  </div>
   		 </div>
	
		 <div class="form-group row">
         		  <legend class="col-form-legend col-sm-2 col-sm-offset-3">City</legend>
       		<div class="col-sm-4">
       		    {% if student.city %}
       		      {{ student.city  }}
       		  
       		     {% endif %}
      		</div>
    	 </div>
		 <div class="form-group row">
				<legend class="col-form-legend col-sm-2 col-sm-offset-3">Comments</legend>
			<div class="col-sm-4">
				{% if student.comments %}
				  {{ student.comments  }}
			  
				 {% endif %}
		   </div>
	  </div>

</div>
</div>
</div>  <!--  end container -->
</div>
</div>

<script>
$(window).on('load', function(){     
	   $('.bs-example-modal-lg-add').show();
	   $('#myModal').modal({backdrop: 'static', keyboard: false}) ;
	   }); 

</script>

{% endblock %}