{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
        <title>UPDATE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
 <style>
 </style>

  </head>
  <body>
  
  <div class=container>

<div class="modal fade bs-example-modal-lg-add" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
       <div class="modal-header">
       <a id="close-btn" href="{% url 'teacher_home' %}" ><button type="button" class="close" >&times;</button></a>
          <h4 class="modal-title" style="font-weight:bold;text-align:center;font-size:30px" >UPDATE DETAILS</h4>
        </div>
        <div class="modal-body">
  
    <form  action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="row">
      <div class="col-xs-2 col-xs-offset-5">
        <input type="submit" class="btn btn-primary" name="submit" value="Update">
		</div>
		</div>
    </form>
    	</div>
  </div>	
    </div>
  </div>
    </div>
    
   <script>
$(window).on('load', function(){     
	   $('.bs-example-modal-lg-add').show();
	   $('#myModal').modal({backdrop: 'static', keyboard: false}) ;
	   }); 
 </script>
  </body>
</html>
